/com.mlyncar.dp.analyzer/bin/
/com.mlyncar.dp.analyzer/nbproject/
/com.mlyncar.dp.transformer/bin/
/com.mlyncar.dp.transformer/nbproject/
/com.mlyncar.dp.synch/bin/
/com.mlyncar.dp.synch/nbproject/
/com.mlyncar.dp.comparison/bin/
/com.mlyncar.dp.comparison/nbproject/
/com.mlyncar.dp.interpreter/bin/
/com.mlyncar.dp.interpreter/nbproject/
/com.mlyncar.dp.analyzer.code/bin/
/com.mlyncar.dp.analyzer.code/nbproject/
/com.mlyncar.dp.analyzer.uml/bin/
/com.mlyncar.dp.analyzer.uml/nbproject/